

<ion-content>
  <app-header></app-header>
<div class="map" style="padding-top:100px">

  <h2>Parcours intéractif</h2>
  <div style="padding:20px; max-width:100%;list-style:none; transition: none;overflow:hidden;width:500px;height:500px;"><div id="embedded-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=montréal&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="google-maps-html" rel="nofollow" href="https://kbj9qpmy.com/bp" id="get-data-for-map">Broadband Providers</a><style>#embedded-map-display img{max-width:none!important;background:none!important;font-size: inherit;font-weight:inherit;}</style></div>
  </div>


</ion-content>