

<ion-content>
  <app-header></app-header>


  <div style="padding-top: 80px;">


    <ion-card>


      <ion-card-header>
        <ion-card-title>{{balence}}</ion-card-title>
        <ion-card-subtitle>Current balence</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>

      <div class="bottom">
        <ion-icon name="bag-add-outline"></ion-icon>
      </div>


    </ion-card>


  </div>
</ion-content>