ion-card{
    color: white;
    background: rgb(194,21,180);
    background: linear-gradient(90deg, rgba(194,21,180,1) 0%, rgba(250,39,132,1) 52%, rgba(237,138,39,1) 100%);

    ion-card-title{
        --color:white;
    }
    ion-card-subtitle{
        --color:white;
    }
    .bottom{
        padding-left: 20px;
        padding-bottom: 10px;
        ion-icon {
            font-size: 25px;
          }

          .locked{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
          }
    }

}


.rates{
    padding: 20px;
}
