

<ion-content>
  <app-header></app-header>


  <div style="padding-top: 80px;">


    <ion-card>


      <ion-card-header>
        <ion-card-title>{{balence}}</ion-card-title>
        <ion-card-subtitle>Current balence</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>

      <div class="bottom">
        <div class="locked">
          <ion-icon name="bag-add-outline"></ion-icon>
          <p>Locked</p>
        </div>
      </div>


    </ion-card>


  </div>




  <div class="rates">
    <h2>Today's Rates</h2>
    <ion-list>
      @for (rate of rates; track rate){
      <ion-item>
        

            <ion-label>{{ rate.currency }}</ion-label>
        <ion-note slot="end">{{ rate.value }}</ion-note>
      
      
      </ion-item>
    }
    </ion-list>
  </div>

</ion-content>